{% extends '../layout/_layout.html' %}
{% load bootstrap5  %}

{% block title %}
    
    {% if title %}
        {{title}}
    {% else %}
        App
    {% endif %}
        
{% endblock title %}


{% block content %}
<div class="m-0 pt-5 row justify-content-center align-items-center" >
    <div class="col-auto p-5  text-center">
        <div class="card ">
            <div class="card-header bg-primary text-white">
                Categoria
            </div>
            <form method='POST' action=".">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row g-3" >
                        <div class="col-md-6">
                            {% bootstrap_field form.name %}
                        </div> 
                        <div class="col-md-6">
                            {% bootstrap_field form.guard_name %}
                        </div>
                        <div class="col-12">
                            {% bootstrap_field form.description %}
                        </div> 
                    </div>
                </div>
                <div class="card-footer ">
                    <br/>
                    {% buttons %}
                        <input class="btn btn-primary btn-sm" value="Registrar Categoria" type="submit" />
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock  %}
    